<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#">Logo</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2" style="border-right:1px solid #696969;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-4 ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <ul class="list-inline social-icons text-center">
					<li>
						<a href="https://www.facebook.com/evhive.co/" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company-beta/13178803/?pathWildcard=13178803" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/evhive/?hl=en" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
						</a>
					</li>
				</ul>
    </div>
    <div class="row">
      <p class="text-center">&copy; 2016 All rights reserved.</p>
    </div>
  </div>

</footer>
