<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"></a></p>
            <!--<h5 class="centered">Marcel Newman</h5>-->
            <li class="mt">
                <a href="/companies">
                    <i class="fa fa-dashboard"></i>
                    <span>Companies</span>
                </a>
                <a href="/metrics">
                    <i class="fa fa-tasks"></i>
                    <span>Metrics</span>
                </a>
                <a href="/deals">
                    <i class="fa fa-th"></i>
                    <span>deals</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
