<%= form_for [@company,@metric], :html => { :class => "form-horizontal metric" } do |f| %>

  <% if @metric.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @metric.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
          <% if @metric.metric_list.try(:name).present? %> 
          <%= @metric.metric_list.try(:name) %> 
          <% else %>
            new metric
          <% end %>
          </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
         <div class="form-group">
          <%= f.label :company_id, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :company_id, :class => 'form-control', :value => params[:company_id] %>
          </div>
          <%=f.error_span(:company_id) %>
        </div>
        <div class="form-group">
          <%= f.label :period_type_id, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
                  <%= f.collection_select :period_type_id, PeriodType.order(:name),:id,:name, class: 'form-control' %>
          </div>
          <%=f.error_span(:period_type_id) %>
        </div>
        <div class="form-group" display="none">
          <%= f.label :metric_list_id, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :metric_list_id, :class => 'form-control', :value => params[:ml_id] %>
          </div>
          <%=f.error_span(:metric_list_id) %>
        </div>
      </div>
      <div class="panel-body">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
              <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-bg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Metric List</h4>
        </div>
        <div class="modal-body">

      <table class="table table-hover" id="mtable">
        <tbody class="metric_values">
        <%= f.fields_for :metric_values do |builder| %>
            <%= render 'metric_value_fields', f: builder %>
        <% end %>
        </tbody>
        </table>
        <div class='links' id="clickini">
        <%= link_to_add_association '+', f, :metric_values, :data => {"association-insertion-node" => "tbody.metric_values", "association-insertion-method" => "append"} ,:class => 'btn btn-success' %>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
      <div class="panel-footer">
          <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success btn-block' %>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>
<script>
//   $(document).keypress(function(e) {
//     if(e.which == 13) {
// $('.metric').submit(function() {
//   return false;
// });});

// $( document ).ready(function() {
//   $(document).keypress(function(e) {
//     if(e.which == 13) {
//         $( ".add_fields" ).click();
//     }
// });
// });
</script>

<% end %>
