<tr class="nested-fields">
<td>      <%= f.collection_select :period_value_id, PeriodValue.where("period_type_id = ?", @metric.period_type_id).order(:name), :id, :name, {}, {class: "form-control"} %></td>
  <td><%= f.text_field :year,:placeholder =>'Year', :class => 'form-control' %></td>
  <td><%= f.text_field :value,:placeholder =>'value',:class => 'form-control' %></td>    
</tr>