<div class="col-md-12">
  <div class="content-panel">
    <div class="panel-body">
    <%- model_class = Metric -%>
    <h4>List of generated metrics</h4>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:period_type_id) %></th>
          <th><%= model_class.human_attribute_name(:metric_list_id) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @metrics.each do |metric| %>
          <tr>
            <td><%= link_to metric.company.name, metric_path(metric), :class => 'btn btn-theme btn-xs' %></td>
            <td><%= metric.period_type.name %></td>
            <td><%= metric.metric_list.name %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_metric_path(metric), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          metric_path(metric),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_metric_path,
                :class => 'btn btn-primary' %>

    </div>
  </div>
  
</div>

