<%- model_class = Metric -%>
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
  <hr>
<div class="container">
<div class="col-md-6">
  <div class="content-panel">
    <div class="panel-body">
      <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
    <dd><%= @metric.company.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:period_type_id) %>:</strong></dt>
    <dd><%= @metric.period_type.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:metric_list_id) %>:</strong></dt>
    <dd><%= @metric.metric_list.name %></dd>
  </dl>      
    </div>
  </div>
</div>

    <div class="col-md-6">
      <div class="content-panel"> 
        <div class="panel-body text-center">
          <button id="changeToBar">Bar</button>
          <button id="changeToLine">Line</button>
          <button id="changeToRadar">Radar</button>
          <button id="changeToPolarArea">Polar Area</button>
          <button id="changeToPie">Pie</button>
          <button id="changeToDoughnut">Doughnut</button>
          <canvas id="myChart" ></canvas> 
        </div>
      </div>
    </div>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_company_metric_path(  @metric.company_id ,@metric, :ml_id => @metric.metric_list_id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              company_metric_path(@metric.company_id, @metric),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>

<script>
var chartData = {
  labels: [<% @metric.metric_values.each do |mvc|%> "<%= mvc.period_value.name.to_s %>",<% end %>],
  datasets: [{
    label: '# <%= @metric.metric_list.name %>',
    data: [<% @metric.metric_values.each do |mvc|%> <%= mvc.value %>,<% end %>],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
  }]
};
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: chartData
});

document.getElementById('changeToLine').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'line',
    data: chartData
  });
};

document.getElementById('changeToBar').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData
  });
};

document.getElementById('changeToRadar').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'radar',
    data: chartData
  });
};
document.getElementById('changeToPolarArea').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'polarArea',
    data: chartData
  });
};
document.getElementById('changeToPie').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'pie',
    data: chartData
  });
};
document.getElementById('changeToDoughnut').onclick = function() {
  myChart.destroy();
  myChart = new Chart(ctx, {
    type: 'doughnut',
    data: chartData
  });
};



</script>

