        <div class="form-group">
        <%= f.label :title, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :title, :class => 'form-control' %>
          </div>
        <%=f.error_span(:title) %>
      </div>
      <div class="form-group">
        <%= f.label :date, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :date, :class => 'form-control' %>
          </div>
        <%=f.error_span(:date) %>
      </div>
            <div class="form-group">
        <%= f.label :link, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :link, :class => 'form-control' %>
          </div>
        <%=f.error_span(:link) %>
      </div>