<%= form_for @company, :html => { :class => "form-horizontal company" } do |f| %>

  <% if @company.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#company">Company</a></li>
  <li><a data-toggle="tab" href="#founder">Founder</a></li>
  <li><a data-toggle="tab" href="#media">Media</a></li>
  <li><a data-toggle="tab" href="#finance">Finance</a></li>
</ul>

<div class="tab-content">
  
<div id="company" class="tab-pane fade in active">
  <br>
  <div class="row">
  <div class="col-md-3">
    <h3>Company</h3>
  </div>
    <div class="col-md-9">
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :registration_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :registration_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:registration_name) %>
  </div>
  <div class="form-group">
    <%= f.label :headquater, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :headquater, :class => 'form-control' %>
    </div>
    <%=f.error_span(:headquater) %>
  </div>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :country, :class => 'form-control' %>
    </div>
    <%=f.error_span(:country) %>
  </div>
  <div class="form-group">
    <%= f.label :founded, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :founded, :class => 'form-control' %>
    </div>
    <%=f.error_span(:founded) %>
  </div>
  <div class="form-group">
    <%= f.label :link, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :link, :class => 'form-control' %>
    </div>
    <%=f.error_span(:link) %>
  </div>
  <div class="form-group">
    <%= f.label :business_model, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :business_model, :class => 'form-control' %>
    </div>
    <%=f.error_span(:business_model) %>
  </div>
  <div class="form-group">
    <%= f.label :industry, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :industry, :class => 'form-control' %>
    </div>
    <%=f.error_span(:industry) %>
  </div>
  <div class="form-group">
    <%= f.label :consumer_target, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :consumer_target, :class => 'form-control' %>
    </div>
    <%=f.error_span(:consumer_target) %>
  </div>
  </div>
</div>
</div>
  
<div id="founder" class="tab-pane fade">
  <br>
  <div class="row">
    <div class="col-md-3">
    <h3>Founder</h3>
    </div>
    <div class="col-md-9">
      <div class="line_items">
        <%= f.fields_for :founders do |builder|  %>
          <%= render 'founder_fields', f: builder %>
        <% end %>
        </div>
    </div>
  </div>
</div>

<div id="media" class="tab-pane fade">
  <br>
  <div class="row">
    <div class="col-md-3">
      <h3>Media Coverage</h3>
    </div>
    <div class="col-md-9">
        <%= f.fields_for :coverages do |builder|  %>
        <% end %>
    </div>
  </div>
</div>
  


<div id="finance" class="tab-pane fade">
  <br>
  <div class="row">
    <div class="col-md-3">
        <h3>Financial</h3>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :latest_financial, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :latest_financial, :class => 'form-control' %>
        </div>
        <%=f.error_span(:latest_financial) %>
      </div>
      <div class="form-group">
        <%= f.label :total_fund_raised, :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.text_field :total_fund_raised, :class => 'form-control' %>
        </div>
        <%=f.error_span(:total_fund_raised) %>
      </div>
    </div>
  </div>
</div>
  
</div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                companies_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
