        <div class="form-group">
        <%= f.label :name, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :name, :class => 'form-control' %>
          </div>
        <%=f.error_span(:name) %>
      </div>
      <div class="form-group">
        <%= f.label :position, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :position, :class => 'form-control' %>
          </div>
        <%=f.error_span(:position) %>
      </div>
            <div class="form-group">
        <%= f.label :linkedin, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_field :linkedin, :class => 'form-control' %>
          </div>
        <%=f.error_span(:linkedin) %>
      </div>
            <div class="form-group">
        <%= f.label :description, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
          <%= f.text_area :description, :class => 'form-control' %>
          </div>
        <%=f.error_span(:description) %>
      </div>