<div class="col-md-12">
  <div class="content-panel">
    <div class="panel-body">
      <h4>Companies</h4>
      <hr>
      <%- model_class = Company -%>
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:registration_name) %></th>
            <th><%= model_class.human_attribute_name(:country) %></th>
            <th><%= model_class.human_attribute_name(:founded) %></th>
            <th><%= model_class.human_attribute_name(:link) %></th>
            <th><%= model_class.human_attribute_name(:business_model) %></th>
            <th><%= model_class.human_attribute_name(:industry) %></th>
            <th><%= model_class.human_attribute_name(:consumer_target) %></th>
            <th><%= model_class.human_attribute_name(:latest_financial) %></th>
            <th><%= model_class.human_attribute_name(:total_fund_raised) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= link_to company.name,company_path(company)  %></td>
              <td><%= company.registration_name %></td>
              <td><%= company.country %></td>
              <td><%= company.founded %></td>
              <td><%= company.link %></td>
              <td><%= company.business_model %></td>
              <td><%= company.industry %></td>
              <td><%= company.consumer_target %></td>
              <td><%= company.latest_financial %></td>
              <td><%= company.total_fund_raised %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_company_path(company), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            company_path(company),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_company_path,
                  :class => 'btn btn-primary' %>

      
    </div>
  </div>
  
</div>

