<div class="col-md-12">
    <div class="content-panel">
        <div class="panel-body">
            <%- model_class = Company -%>
              <h4><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h4>
            <hr>
            <%= render :partial => 'form' %>
            
        </div>
    </div>
</div>


