<div class="col-md-12">
  <div class="content-panel">
    <div class="panel-body">
      <%- model_class = Company -%>
      <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
      <hr>
      <dl class="dl-horizontal">
        <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @company.name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:registration_name) %>:</strong></dt>
        <dd><%= @company.registration_name %></dd>
        <dt><strong><%= model_class.human_attribute_name(:headquater) %>:</strong></dt>
        <dd><%= @company.headquater %></dd>
        <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
        <dd><%= @company.country %></dd>
        <dt><strong><%= model_class.human_attribute_name(:founded) %>:</strong></dt>
        <dd><%= @company.founded %></dd>
        <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
        <dd><%= @company.link %></dd>
        <dt><strong><%= model_class.human_attribute_name(:business_model) %>:</strong></dt>
        <dd><%= @company.business_model %></dd>
        <dt><strong><%= model_class.human_attribute_name(:industry) %>:</strong></dt>
        <dd><%= @company.industry %></dd>
        <dt><strong><%= model_class.human_attribute_name(:consumer_target) %>:</strong></dt>
        <dd><%= @company.consumer_target %></dd>
        <dt><strong><%= model_class.human_attribute_name(:latest_financial) %>:</strong></dt>
        <dd><%= @company.latest_financial %></dd>
        <dt><strong><%= model_class.human_attribute_name(:total_fund_raised) %>:</strong></dt>
        <dd><%= @company.total_fund_raised %></dd>
      </dl>
      
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    companies_path, :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_company_path(@company), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    company_path(@company),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      <div class="container">
        <h2>list metrics</h2>
        <% @company.metrics.each do  |cmd| %>
            <p><%=  cmd.metric_list.name %> <%= link_to 'show', company_metric_path(:id => cmd.id, :ml_id =>cmd.metric_list_id, :company_id => @company) %> </p>
        <% end %>
        
      </div>
      <div class="container">
      <h2>Create Metrics</h2>
      <% @mc.each do |mc| %>
      <div class="panel-group">
        <div class="panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse<%= mc.id %>"><%= mc.name %></a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <% mc.metric_lists.each do |ml| %>
              <li class="list-group-item"><%= ml.name %>  <%= link_to 'create', new_company_metric_path(:ml_id => ml.id, :company_id => params[:id]) %></li>
                  <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  
</div>

