<%= form_for @deal, :html => { :class => "form-horizontal deal" } do |f| %>

  <% if @deal.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :company, :class => 'form-control' %>
    </div>
    <%=f.error_span(:company) %>
  </div>
  <div class="form-group">
    <%= f.label :capital, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :capital, :class => 'form-control' %>
    </div>
    <%=f.error_span(:capital) %>
  </div>
  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:type) %>
  </div>
  <div class="form-group">
    <%= f.label :round, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :round, :class => 'form-control' %>
    </div>
    <%=f.error_span(:round) %>
  </div>
  <div class="form-group">
    <%= f.label :closing, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :closing, :class => 'form-control' %>
    </div>
    <%=f.error_span(:closing) %>
  </div>
  <div class="form-group">
    <%= f.label :admin, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :admin, :class => 'form-control' %>
    </div>
    <%=f.error_span(:admin) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deals_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
