<%- model_class = Deal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @deal.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:capital) %>:</strong></dt>
  <dd><%= @deal.capital %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @deal.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:round) %>:</strong></dt>
  <dd><%= @deal.round %></dd>
  <dt><strong><%= model_class.human_attribute_name(:closing) %>:</strong></dt>
  <dd><%= @deal.closing %></dd>
  <dt><strong><%= model_class.human_attribute_name(:admin) %>:</strong></dt>
  <dd><%= @deal.admin %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              deals_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deal_path(@deal), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deal_path(@deal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
