<!DOCTYPE html>
<html>
<head>
  <title>East Ventures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/style-responsive.css" rel="stylesheet">
</head>
<body>
  <section id="container" >
    <%= render "parts/header" %>
    <%= render "parts/nav" %>
    <section id="main-content">
    <section class="wrapper site-min-height">
      <div class="row mt">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
      </section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
  </section>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
  <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/assets/js/jquery.scrollTo.min.js"></script>
  <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="/assets/js/common-scripts.js"></script>
  <!--script for this page-->
  <script>
    //custom select box
    $(function(){
        $('select.styled').customSelect();
    });
  </script>
</body>
</html>
